<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MQ_User" value="" />
		<add key="MQ_Password" value="" />
		<add key="MQ_Host" value="" />
		<add key="MQ_WebPort" value="" />
		<add key="MQ_ClientPort" value="" />
		<add key="MQ_VirtualHost" value="" />
	</appSettings>
</configuration>